<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.themattray.glass.plugin.tts" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>GlassTTS</name>
	<js-module name="GlassTTS" src="www/GlassTTS.js">
		<clobbers target="window.glassTTS" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="GlassTTS">
				<param name="android-package" value="com.themattray.glass.plugin.tts.GlassTTS" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
		</config-file>
		<source-file src="src/android/GlassTTS.java" target-dir="src/com/themattray/glass/plugin/tts" />
	</platform>
</plugin>