<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.themattray.phonegap.tts"
        version="0.0.1">
  
  <name>TTS</name>
  <description>Phonegap TTS Plugin</description>
  <keywords>phonegap,cordova,tts</keywords>
  
  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  
  <js-module src="www/tts.js" name="tts">
    <clobbers target="tts" />
  </js-module>
  
  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TTS">
        <param name="android-package" value="com.themattray.phonegap.tts"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    
    <source-file src="src/android/com/themattray/phonegap/TTS.java" target-dir="src/com/themattray/phonegap/tts" />
    
  </platform>
  
  <!-- android -->
  <platform name="amazon-fireos">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TTS">
	       <param name="android-package" value="com.themattray.phonegap.tts"/>
         <param name="onload" value="true"/>
      </feature>
    </config-file>
    
    <source-file src="src/android/com/themattray/phonegap/TTS.java" target-dir="src/com/themattray/phonegap/tts" />
    
  </platform>
</plugin>
